@import url('https://fonts.googleapis.com/css2?family=Barlow+Semi+Condensed&family=Montserrat&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Makes sure navigation is smooth across the site */
html {
    scroll-behavior: smooth;
  }
  
  
/* Blinking effect for the typewriter */
.blinking-cursor {
  display: inline-block;
  width: 8px;
  background-color: transparent;
  animation: blink 1s steps(1, start) infinite;
}

@keyframes blink {
  50% {
    background-color: black;
  }
}


.blinking-cursor-white {
  display: inline-block;
  width: 8px;
  background-color: transparent;
  animation: blink-white 1s steps(1, start) infinite; /* New animation name */
}

@keyframes blink-white { /* New keyframes name */
  50% {
    background-color: white; /* White color */
  }
}